.footer {
    text-align: center;
    color: antiquewhite;
    background-color: #ee3939;
}

.container {
    display: flex;
}
.child1 {
    flex: 1;
}
.child2 {
    flex: 1;
}

.link {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:calc(3vh);
    margin: 10px;
    text-decoration: none;
    color: rgb(11, 10, 10);
    text-align: center;
}