<div class="footer">
  <div class="container">
    <div class="child1">
      <img width="50px" src="/assets/full_hp.png" alt="" />
      <img width="50px" src="/assets/full_hp.png" alt="" />
      <img width="50px" src="/assets/full_hp.png" alt="" />
    </div>

    <a class="link" href="https://github.com/AbdullahWins"
      >Crafted with love by AbdullahWins</a
    >
    <div class="child2">
      <img width="50px" src="/assets/full_hp.png" alt="" />
      <img width="50px" src="/assets/full_hp.png" alt="" />
      <img width="50px" src="/assets/full_hp.png" alt="" />
    </div>
  </div>

  <p></p>
</div>
